#stateDetails ul {
  list-style: none;
  padding-left: 15px;
}

#stateDetails li {
  margin-left: 5px;
}

.compute {
  display: inline-block;
}

.compute__icon {
  display: block;
  width: 10px;
  height: 10px;
}

.compute__description{
  display: none;
}

.compute--active .compute__description{
  display: inline-block;
}

