body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--color-light-0);
    color:  var(--color-dark-0);
}

flexible-grid {
    height: 100vh;
}

/* @media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 'tasklist' 'details';
    }
    .state {
        border-left: none !important;
        border-top: 1px solid  var(--color-border-1);
    }
} */

* {
    cursor: default;
}

.tasklist {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    overflow: auto;
}

.state {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-width: 400px;
    overflow: auto;
}