body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--color-light-0);
    color:  var(--color-dark-0);
}

.topgrid {
    height: 100vh;
}

* {
    cursor: default;
}

.tasklist {
    display: flex;
    flex-direction: column;
}

.state {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}