body {
    display: grid;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    grid-template-columns: minmax(300px, 33vw) auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'tasklist details';
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 'tasklist' 'details';
    }
    .state {
        border-left: none !important;
        border-top: 1px solid lightgray;
    }
}

* {
    cursor: default;
}

.tasklist {
    display: flex;
    flex-direction: column;
    grid-area: tasklist;
    overflow-y: auto;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    border-right: 1px solid var(--default-border-color);
}

.state {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 12px;
    overflow: auto;
}