.tasklist {
    grid-area: tasklist;
    overflow-y: auto;
}

.tasklist__list {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.task__summary {
    display: flex;
    align-items: center;
    line-height: 16px;
    padding: 8px 8px 8px 4px;
    pointer-events: none;
}

.task__summary::-webkit-details-marker {
    display: none;
}

.task__summary::before {
    content: "\25b6";
    display: inline-block;
    width: 14px;
    font-size: 10px;
    padding: 4px 0 4px 4px;
    pointer-events: auto;
    cursor: pointer;
}

.task__body[open] .task__summary::before {
    content: "\25bc";
}

.task__summary:focus {
    outline: none;
}

.task:nth-child(2n) .task__summary {
    background-color: #f5f5f5;
}

.task--active .task__summary {
    background-color: #3879d9 !important;
    color: white;
}

.task__method {
    flex: 1;
}