html {
    --default-border-color: #dadada;

    /*theme grid*/
    --color-light-0: #ffffff; /* default background, focus text */
    --color-light-1: #f7f7f7; /* shadow root lv1 */
    --color-light-2: #f2f2f2; /* shadow root lv2 */
    --color-light-3: #f3f3f3; /* background */
    --color-light-4: #f5f5f5; /* even background */
    --color-light-5: #efefef; /* shadow root vl3+ */
    --color-light-6: #e5e5e5; /* hover background */
    --color-light-7: #eeeeee; /* background */
    --color-light-8: #dadada; /* selected unfocused */
    --color-light-9: #dddddd; /* background */
    --color-light-10: #c0c0c0; /* doctupe text */
    --color-light-11: #b1b1b1; /* disabled icons */

    --color-dark-0: #222222; /* default text */
    --color-dark-1: #333333; /* hovered icons */
    --color-dark-2: #555555; /* text */
    --color-dark-3: #6e6e6e; /* default icons (triangle icons)*/
    --color-dark-4: #808080; /* text */
    --color-dark-5: #888888; /* text */

    /* --color-primary-light: var(--color-blue-200); */
    /* --color-primary-normal: var(--color-blue-500); */
    /* --color-primary-dark: var(--color-blue-700); */

    /* --color-secondary-light: var(--color-grey-200); */
    /* --color-secondary-normal: var(--color-grey-200); */
    /* --color-secondary-dark: var(--color-grey-200); */

    --color-border-1: #aaaaaa;
    --color-border-2: #bbbbbb;
    --color-border-3: #cccccc;
    --color-border-4: #e6e6e6;

    --color-accent-light: #f2f7fd; /* even background */
    --color-accent-normal: #ebf1fb; /* hover */
    --color-accent-bright: #196cfa; /* accent icons */
    --color-accent-dark: #3879d9; /* selected focused */

    /* app colors*/
    --color-property-normal: #881391;
    --color-string-normal: #c41a16;
    --color-number-normal: #1c00cf;
    --color-boolean-normal: #0d22aa;
    --color-nothing-normal: #808080;
    /* --color-path-normal: var(--color-secondary-normal); */
}